/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Estilos para la sección principal */
section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to right, #5EBEC3, #112D42);
    position: relative;
    overflow: hidden;
}

/* Contenedor principal */
.container {
    position: relative;
    width: 80%;
    z-index: 1;
}

/* Estilos para el título */
h2 {
    font-size: 28px;
    font-weight: bold;
    color: #fff;
    text-align: center;
}

/* Estilos para subtítulos */
h3 {
    font-size: 22px;
    font-weight: 400;
    color: #0F3959;
}

/* Formulario */
.form {
    position: relative;
    width: 100%;
    max-width: 500px;
    background: #fff;
    margin: 30px;
    padding: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    animation: fadeIn 1s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Estilos para el título del formulario */
.form h2 {
    color: #0F3959;
    text-align: center;
}

/* Estilos para los elementos del formulario */
.form-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 20px;
}

.input-box {
    position: relative;
    margin-bottom: 20px;
    width: 100%;
}

.input-box input {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    color: #333;
    border: none;
    border-bottom: 2px solid #0F3959;
    background: transparent;
    outline: none;
    transition: all 0.3s;
}

.input-box span {
    position: absolute;
    left: 0;
    padding: 10px;
    font-size: 16px;
    letter-spacing: 1px;
    color: #0F3959;
    pointer-events: none;
    transition: all 0.3s;
}

.input-box input:focus ~ span,
.input-box input:valid ~ span {
    transform: translateY(-20px);
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
}

/* Estilos para botones y enlaces */
.input-box.btn {
    display: flex;
    justify-content: flex-end;
}

button, .registro {
    cursor: pointer;
    background: #5EBEC3; /* Color de fondo para botones */
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 2px;
    color: #fff;
    border: none;
    padding: 10px 20px;
    transition: background 0.3s;
    animation: pulse 1s infinite;
}

button:hover, .registro:hover {
    background: #008f39; /* Cambio de color al pasar el cursor */
}

/* Estilos para el botón de enviar */


/* Estilos para el botón de enviar */
.input-box input[type="submit"] {
    background: #0F3959; /* Color de fondo para el botón de enviar */
    font-size: 16px;
    letter-spacing: 2px;
    width: 100%;
    cursor: pointer;
    color: #fff; /* Cambio de color del texto del botón */
}

.input-box input[type="submit"]:hover {
    background: #5EBEC3; /* Cambio de color al pasar el cursor */
}


/* Animación de pulsación para botones */
@keyframes pulse {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
}
